body {
    background-color: #FAFAFD;
}

.navbar-brand img {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 10px;
    height: 70px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.hero-section {
    background-image: url('images/pexels-karola-g-4021769.jpg');

    background-size: cover;
    background-position: center;
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    animation: fadeEffect 1.5s ease-in-out;
}

.card-hover img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 15px;
}

.full-width-gray-bg {
    width: 100%;
    background-color: #d3d3d3;
    padding: 40px;
    background-color: rgba(183, 251, 162, 0.8);
    text-align: center;
}

.specializari-section {
    background-color: #ffffff;
}

.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-radius: 10px;
}

.card-hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
    cursor: pointer;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}