body {
    background-color: #FAFAFD;
}

.navbar-brand img {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 10px;
    height: 70px;
}

.buttons-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}

.user-greeting {
    margin-top: 2%;
}

.user-greeting strong {
    color: #2E7D32;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(173, 194, 172, 0.85);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    position: relative;
    padding: 2px 5px;
    width: 100%;
}

.hero-section {
    background-image: url('images/pexels-karola-g-4021769.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    animation: fadeEffect 1.5s ease-in-out;
}

.card-hover img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 15px;
}

.full-width-gray-bg {
    width: 100%;
    background-color: #d3d3d3;
    padding: 40px;
    background-color: rgba(183, 251, 162, 0.8);
    text-align: center;
}

.specializari-section {
    background-color: #ffffff;
}

.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-radius: 10px;
}

.card-hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
    cursor: pointer;
}

/* Register */

.page-wrapper {
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.auth-card {
    background-color: #ffffff;
    width: 100%;
    max-width: 450px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


.auth-card h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-family: sans-serif;
}


.auth-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    /* Previne lățirea inputului peste container */
}


.btn-submit {
    width: 100%;
    padding: 14px;
    background-color: #0db740;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
}

.btn-submit:hover {
    background-color: #0b722a;
}

.auth-footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}