{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    
    <div class="auth-card">
        <h1>
            {% if wizard.steps.current == 'auth' %}
                Loghează-te
            {% elif wizard.steps.current == 'token' %}
                Introdu Codul 2FA
            {% else %}
                Recuperare Cont
            {% endif %}
        </h1>
        
        <form action="" method="POST">
            {% csrf_token %}
            
            {% include "two_factor/_wizard_forms.html" %}
            
            <button type="submit" class="btn-submit mt-3">
                {% if wizard.steps.current == 'auth' %}
                    Continuă
                {% else %}
                    Validează
                {% endif %}
            </button>
        </form>

        <div class="auth-footer mt-3">
            <p>Nu ai un cont? <a href="{% url 'register' %}">Înregistrează-te</a></p>
        </div>
    </div>

</div>
{% endblock %}